.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.show {
    display: block;
}

.status {
    height: 120px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: auto;
    font:16px/26px Georgia, Garamond, Serif;
}
