# Ignore any idea files (from Pycharm)
.idea/*

# Anything from lsflocal
*lsflocal/*

# pycache stuff
*__pycache__*

# slack ids
*/ids.txt

# pyc files
*.pyc

# nfs file
*nfs*

# config file. Just remake it if you need it.
*.ini

# All database input files. These filed are changed often for creating test instances for testing commands.
unit_tests/test_inputs/database_inputs/*
