{% extends "base_generic.html" %}

{% block content %}
    {% block header %}{% endblock %}

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <table style="width: 100%;">
        <tr>
            {% block columns %}
            <th>Application</th>
            <th>Testname</th>
            <th>Harness UID</th>
            <th>Job ID</th>
            <th colspan="3">Status</th>
            {% endblock %}
        </tr>
        {% block values_wrapper %}
            {% for test in list %}
                <tr>
                    {% block values %}
                    <td> <a href="{{ test.get_app_url }}"> {{ test.application }} </a></td>
                    <td> <a href="{{ test.get_testname_url }}"> {{ test.testname }} </a> </td>
                    <td> <a href="{{ test.get_test_url }}">{{ test.harness_uid }}</a> </td>
                    <td> {% if test.job_id %}<a>{{ test.job_id }}</a>{% else %}<a>None</a>{% endif %}</td>
                    {% if test.build_status != None %}
                        {% if test.build_status == 0 %}<td bgcolor="#00FF00">{% else %}<td bgcolor="#FF0000">{% endif %}
                            <a>{{ test.build_status }}</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if test.submit_status != None %}
                        {% if test.submit_status == 0 %}<td bgcolor="#00FF00">{% else %}<td bgcolor="#FF0000">{% endif %}
                            <a>{{ test.submit_status }}</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if test.check_status.check_uid != None %}
                        {% if test.check_status.check_uid == 0 %}
                            <td bgcolor="#00FF00">
                        {% elif test.check_status.check_uid == 17 %}
                            <td bgcolor="#FFFF00">
                        {% else %}
                            <td bgcolor="#FF0000">
                        {% endif %}
                            <a>{{ test.check_status.check_uid }}</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% endblock %}
                </tr>
            {% endfor %}
        {% endblock %}
    </table>

{% endblock %}
