{% extends "base_generic.html" %}

{% block content %}
    <h1>Harness UID: {{ test.harness_uid }}</h1>

    <p><strong>Application:</strong> <a href="{{ test.get_app_url }}">{{ test.application }}</a></p>
    <p><strong>Testname:</strong> <a href="{{ test.get_testname_url }}">{{ test.testname }}</a> </p>
    <p><strong>Start time:</strong> <a>{{ test.harness_start }}</a></p>
    <p><strong>Path:</strong> <a>{{ test.test_path }}</a></p>
    <p><strong>Job ID:</strong> <a>
        {% if test.job_id %}
            {{ test.job_id }}
            <br>
            <strong>LSF exit status:</strong>
            {% if test.lsf_exit_status %}
                {{ test.lsf_exit_status }}
            {% else %}
                <em>No exit status.</em>
            {% endif %}
        {% else %}
            <em>No job id.</em>
        {% endif %}</a></p>
    <!-- TODO: Add more details in here. Maybe for the stats, make it so they just show the num but can be opened -->

    <div class="row">
        <div class="column">
            <div style="margin-left: 20px; margin-top: 20px;">
                <h4>Events:</h4>

                {% for event in test.rgttestevent_set.all %}
                    <!-- TODO: Make it easy to see if a test does not have all of it's events. -->
                    <p>(<code>{{ event.event_id.event_uid }}</code>) {{ event.event_id.event_name }} </p>
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <div style="margin-left: 40px; margin-top: 20px;">
                <h4>Outputs:</h4>

                <p>
                    <strong>Build:</strong>
                    {% if test.build_status %}
                        <code>{{ test.build_status }}</code>
                    {% else %}
                        <em>No build status.</em>
                    {% endif %}
                    <br>
                    {% if test.output_build %}
                        {{ test.output_build }}
                    {% else %}
                        <em>No build output.</em>
                    {% endif %}
                </p>
                <p>
                    <strong>Submit:</strong>
                    {% if test.submit_status %}
                        <code>{{ test.submit_status }}</code>
                    {% else %}
                        <em>No submit status.</em>
                    {% endif %}
                    <br>
                    {% if test.output_submit %}
                        {{ test.output_submit  }}
                    {% else %}
                        <em>No submit output.</em>
                    {% endif %}
                </p>
                <p>
                    <strong>Check:</strong>
                    {% if test.check_status %}
                        (<code>{{ test.check_status.check_uid }}</code>) {{ test.check_status.check_desc }}
                    {% else %}
                        <em>No check status.</em>
                    {% endif %}
                    <br>
                    {% if test.output_check %}
                        {{ test.output_check }}
                    {% else %}
                        <em>No check output.</em>
                    {% endif %}
                </p>
                <p>
                    <strong>Report:</strong>
                    <br>
                    {% if test.output_report %}
                        {{ test.output_report }}
                    {% else %}
                        <em>No report.</em>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
